.textmira {
    color: black;
    text-align: center;
    font-size: 25px;
    text-shadow: 
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet;
}
.textredes {
    color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet;
}

.textex {
    color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet;
}

.textblog {
    color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet;
}

.texthecho {
    color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet,
    -1px -1px 0 violet;
}